<h4> Results </h4>

<ul>
<%@root.family.each do |f|%>
    <%if f.parent == @root%>
        <li><%=link_to "#{f.value}", "/details/#{f.value}/show", :remote => true%></li>
    <%end%>
<%end%>
</ul>


<div id="details">
</div>