<div style="margin-left:40%; margin-top:12%; color:black; ">
<p style="font:Comic Sans; font-size:22px; font-weight:bold;"> Search by:</p>
<ul>
  <li style="margin-top:2%; font:Comic Sans; font-size:20px; font-weight:bold; color:black;"><a href="searchbydescriptions/">
    Description</a></li>

  <li style="margin-top:2%; font:Comic Sans; font-size:20px; font-weight:bold; color:black;"><a href="searchbyorganisms/">
    Organism</a></li>

  <li style="margin-top:2%; font:Comic Sans; font-size:20px; font-weight:bold; color:black;"><a href="http://www.google.com">
    Database Source</a></li>

  <li style="margin-top:2%; font:Comic Sans; font-size:20px; font-weight:bold; color:black;"><a href="http://www.google.com">
    Blast</a></li>
</ul>
</div>

