<!DOCTYPE html>
<html>
<HEAD>
<title>BigOrthoSearchDB</title>
<style>
a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */
</style>
</HEAD>
<body>

<div style="margin-bottom:-10px">
   <h1 style="font:Magneto Bold; color:black; margin-top:15px;">
      <a href="home">BigOrthoSearchDB </a>
    </h1>
  <div style="margin-top:40px;">
   
  </div>
  <div style="margin-left:90%;color:black; width:150px;  margin-top:-70px;">
    <ul>
       <li>Statistics</li>
       <li>12.000 GO</li>
       <li>350.000 proteins</li>
    </ul>
  </div>  

</div>


<hr SIZE=7 NOSHADE COLOR="#rrggbb" style="margin-top:1%" > <!-- Linha horizontal -->
<br>
<br>
<label style= "margin-left:20%; font:Comic Sans; font-size:20px; font-weight:bold; color:black;"> Search by Description: </label>
<input type= "text">
<input type= "submit">

<br>
<br>
<br>

<img border="0" src="/images/fig1.jpg" alt="Arvore"> 
<br>

<div style="margin-left:85%; margin-top:-18%;">
<img border="0" src="/images/um anil.jpg" alt="H. Sapiens" width="35" height="35" style= "display: inline">
<label style="font:Magneto Bold; color:black; font-size: 18px;">H. Sapiens</label>
<br> 
<img border="0" src="/images/um verde.jpg" alt="T. Brucei " width="35" height="35">
<label style="font:Magneto Bold; color:black; font-size: 18px;">T. Brucei</label> 
<br>
<img border="0" src="/images/um amarelo.jpg" alt="T. Cruzi" width="35" height="35"> 
<label style="font:Magneto Bold; color:black; font-size: 18px;">T. Cruzi</label> 
<br>
<img border="0" src="/images/zero.jpg" alt="seila" width="35" height="35">
<br>
<img border="0" src="/images/tres.jpg" alt="seila" width="35" height="35">  
</div>
<br>

<hr style="margin-bottom:1%; margin-top:3%" SIZE=7 NOSHADE COLOR="#rrggbb"> <!-- Linha horizontal -->
<p style= "margin-left:40%; margin-bottom:-2%"> Biowebdb Consortiumn </p>
</body>
</html>

<%= link_to 'Back', home_path %>
